*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}

.navbar{
    height: 56px;
}

.btn{
   border: none;
   font-weight: bold;
   background-color: #0000000D;
   padding: 4px 16px;
   border-radius:20px
}

.munipic{
    
  width: 100%;     /* takes full width of the screen or parent */
  height: auto;    /* keeps its original proportions */
  display: block;  /* removes small gaps under image */
  background-color: yellow;
}


